@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@font-face {
    font-family: 'VALORANT';
    src: url('VALORANT-Regular.woff2') format('woff2'),
        url('VALORANT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    margin: 0px;
    background-color: rgb(236, 222, 224);
}
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 80px;
    width: 100%;
    color: white;
    z-index: 100;
}

.left_header{
    display: flex;
    justify-content: space-between;
}

.left_header div{
    margin:25px;
    margin-right: 10px;
}

.left_header div img:hover{
   cursor: pointer;
   background-color:red;
}



.middle_header{
    display: flex;
    justify-content: space-between;
}

.middle_header a{
    position: relative;
    text-decoration: none;
    color: white;   

 }



.middle_header a:hover .dropdown{
    display: block; 
}

.title{
    font-family: 'Edu VIC WA NT Beginner';
    margin: 25px;
    padding: 7px 15px 7px 15px; 
    margin-left: 0;
    margin-right: 30px;
}

.middle_header .title:hover{
    background-color:rgb(50, 50, 50);
    cursor: pointer;
    border-radius: 10px;
}

.middle_header a .dropdown{
    display: none;
    width: 170px;
    background-color: rgb(28, 27, 27);
    position: absolute;
    top: 100%;
    padding: 20px;
    border-top: 5px solid rgb(251, 88, 88);
}
.middle_header a .dropdown div{
    color: rgb(171, 170, 170);
    padding: 10px;
}

.middle_header a .dropdown div:hover{
    color: white;
    background-color: rgba(244, 242, 242, 0.345);  
}



.right_header{
    display: flex;
    justify-content: space-between;
}
#myVideo{
    position: absolute;
    z-index: -1;
    height: 500px;
    object-fit: cover;
}
.a4{
    position: relative;
    height: 300px; 
    padding: 120px;
    padding-bottom: 80px;
    text-align: center; 
    font-size : 14px;
}

.triangle{
    position: absolute;
    bottom: 0px;
    left: 0;    
    width:0;
    height:0;
    border-right: 50px solid transparent;
	border-bottom: 50px solid rgb(236, 222, 224);
}

.a5{
    color : white;  
    padding: 5px 5px 5px 5px;
    margin: 10px;
    text-decoration: none;
    font-family: 'times new roman';
}

.a6{
    color : white;  
    padding: 5px 5px 20px 5px;
    margin: 0px;
    text-decoration: none;
    font-size : 100px;
    font-family: 'VALORANT';
}
.redd{
    color : red;  
}
.bluee{
    color: blue;
}
.a7{
    position: relative;
    color : white;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px 15px 20px;
    width:  200px;
    height: 45px;
    transition: background-color 1s ;
    border: none;   
    background-color:rgb(50, 50, 50); 
}

.blackPlayFree{
    background-color: rgb(251, 88, 88);
    position: absolute;
    line-height: 45px;
    top: 0;
    right: 0;
    width:  200px;
    height: 45px;
    transition: width 1s, height 1s;
}

.a7:hover .blackPlayFree{
    width:  0;
}

.playfree{
    position: relative;
    z-index: 99;
}

.red{
    background-color: red;
}
/* .a7:hover{
    background-color : rgb(52, 52, 52); 
} */
/* @keyframes playfree{
    25% {background-color:red}
    50% {background-color:blue}
    75% {background-color:pink}
    100% {background-color:yellow}
} */
.TurnOnAnimation{
    animation: playfree 4s infinite;
}
.PlayFreeAnimation{
    animation: PlayFree 4s infinite;
}
.PlayCostAnimation{
    animation: PlayCost 4s infinite;
}
.FreeCostAnimation{
    animation: FreeCost 4s infinite;
}


@keyframes PlayFree{
    0% {
        background-color: red;
        border-radius: 0px
    }
    50% {
        background-color: blue;
        border-radius: 50%
    }
    100%{
        background-color: red;
        border-radius: 0px
    }
}

@keyframes PlayCost{
    0% {
        background-color: blue;
        border-radius: 0px
    }
    50% {
        background-color: green;
        border-radius: 50%
    }
    100%{
        background-color: blue;
        border-radius: 0px
    }
}

@keyframes FreeCost{
    0% {
        background-color: green;
        border-radius: 0px
    }
    50% {
        background-color: rgb(247, 83, 83);
        border-radius: 50%
    }
    100%{
        background-color: green;
        border-radius: 0px
    }
}
.im{
    height: 50%;
    width: 8%;
}



.news_section{
    padding-top: 60px;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
}

.a9{
    text-align: right;
    font-size: 16px;
    color: rgb(247, 83, 83);
}

.dot1{
    position: absolute;
    top: 30px;
    left : 50%;
    height:7px;
    width:7px;
    background-color: rgb(247, 83, 83);
}

.thelatest{
    position: absolute;
    top:42px;
    font-size: 50px;
    color: rgb(247, 83, 83);
    z-index: 80;

}

.news_container{
    display: flex;
    justify-content: space-between;
}

.news_container .news img{
    position: relative;
    height: 200px;
    width: 320px;
    /* margin-top: 10px; */
    object-fit: cover;
}

.HoverNew{
    position: absolute;
    top: 78px;
    background-color: rgb(247, 83, 83);
    opacity: 0.5;
    height: 200px;
    width: 0px;
    transition: width 0.3s;
}

.news_container .news:hover .HoverNew{
    width: 320px;
}

.Dimension_Section{
    height: 700px;
}


.Dimension_Img{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fecfc769-eca8-495b-baba-ca4f58048dc7/dfd3x57-fbfa37ec-89f6-47f7-8cae-224a4f47b30d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZlY2ZjNzY5LWVjYTgtNDk1Yi1iYWJhLWNhNGY1ODA0OGRjN1wvZGZkM3g1Ny1mYmZhMzdlYy04OWY2LTQ3ZjctOGNhZS0yMjRhNGY0N2IzMGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DDsXi5SH-R2ZPrQmxH2L4zn0JH_xENWYNExmnpwmZUU");
    background-size: 120% 90%;
    background-repeat: no-repeat; 
    
}
.Dimension_content{
    height: 1000px;
    margin-top: 120px;
    padding-left: 120px;
    padding-top :320px;
    text-align: left;
    color: white;
}


.ButtonOverview{
    color : white; 
    margin-top: 20px;   
    margin-left: 2%;
    text-decoration: none;
    background-color : red;
    width: 200px ;
    height: 50px;
    font-size : 14px;
    text-align: center;
}

.ButtonOverview:hover{
    color : white;     
    background-color : rgba(47, 41, 41, 0.193);
}


.AboutTheGame_section{
    
}

#WeAreValorant{
    font-size : 70px;
    margin: 10px 0% 10px 10%;
}

.AboutTheGame_container{
    display: flex;
    justify-content: space-evenly;
}

.about{
    width: 250px;
}

.about_title{
    margin-top: 10px;
    margin-bottom: 10px;
}

.about_content{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(105, 100, 100)
}

.about_LearnTheGame{
    color : white;    
    margin-top: 30px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    background-color : red;
    width: 100% ;
    text-align : center;
}

.about_LearnTheGame:hover{
    background-color: black;
}

.a14:hover{
    background-color: black;
}



table{
    text-align: center;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
.im2{
    height:10%;
    width: 10%;
}
h6,h1{
    margin :0px; 
}
.td1{
    width: 70%;
}

.BlueText{
    color: blue;
    font-size: 20px;
}



